<!-- _includes/footer.html -->

<footer class="site-footer">
    <div class="footer-social-links">
        <ul>
        {% if site.social.github %}
          <li><a href="{{ site.social.github }}" target="_blank" title="GitHub"><i class="fab fa-github"></i></a></li>
        {% endif %}
        {% if site.social.linkedin %}
          <li><a href="{{ site.social.linkedin }}" target="_blank" title="LinkedIn"><i class="fab fa-linkedin"></i></a></li>
        {% endif %}
        </ul>
    </div>
</footer>
