@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";


/* Custom styles for Slider section */
.slider {
    margin: 20px auto; /* Center the slider container */
    max-width: 90%; /* Adjust the maximum width */
}

.slider img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease; /* Smooth zoom effect */
}

.slick-slide {
    transition: transform 0.3s ease-in-out;
}

.slick-center img {
    transform: scale(1.1); /* Zoom in the center slide */
    z-index: 1; /* Make the center slide stand out */
}

.slick-dots {
    bottom: -30px;
}

.slick-prev, .slick-next {
    z-index: 10;
}


/* Custom styles for CV section */
#cv {
    margin: 20px 0;
    padding: 15px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    background-color: #f9f9f9;
}

#cv iframe {
    width: 100%;
    height: 500px;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#cv a {
    display: inline-block;
    margin-top: 10px;
    color: #007acc;
    font-weight: bold;
    text-decoration: none;
}

#cv a:hover {
    text-decoration: underline;
}